.calendar {
    position: relative;
    width: 1200px;
    margin-left: 75px;
}

div.date, div.days {
    position: relative;
    width: 150px;
    border: 1px solid black;
    float: left;
    margin: 1px;
    background-color: dimgray;
    color: greenyellow;
    font-size: 20px;
}

.blankday {
    background: #ccc;
    opacity: .60;
}
.day {
    text-align: center;
}
div.date {
    height: 150px;
}

.today {
    background: #cfc;
}

.all {
    position: relative;
    width: 100%;
    height: 100%;
}
.form {
    position: absolute;
    top: 10px;
    right: 30%;
    padding: 10px;
    width: 500px;
    height: 500px;
    background-color: gray;
    text-align: center;
}




.text_header {
    font-family: monospace;
    font-size: 50px;
}

.bottom {
    padding: 17%;
    position: absolute;
    top: 0px;
    width: 66%;
    height: 66%;
}